.bandeau{
  background: lighten($accent-color, 10%);
  position: relative;
  overflow: hidden;
  padding: 4rem 1rem 4rem 1rem;

  .row{
    @extend .center-xs;
  }

  &:before, &:after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: $accent-color transparent transparent transparent;
    filter: drop-shadow(2px 2px 9px black);
}

  &:after{
    top: initial;
    left: initial;
    bottom: 0;
    right: 0;
    border-color: transparent $accent-color transparent transparent;
    filter: drop-shadow(-2px -2px 9px black);
  }

  .icon{
    color: $white;
  }

  .title{
    color: $white;
  }

  @media all and (min-width: 48em){
    padding: 2rem 8rem 2rem 8rem;
  }
}

.cadre{
  border: 1px solid lighten($accent-color, 10%);
}

#reasons{
  margin-bottom: 15px;
  padding: 20px;
}