.btn-flat-basic{
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
  & > i{
    font-weight: 700;
  }

  &:hover{
    background: $accent-color;
    color: $white;
  }
}


.btn-flat{
  padding: 15px 100px;
  margin:10px 4px;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  font-weight: normal;
  border:1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    height: 1px;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);


    bottom:0;
    z-index:-1;
    width: 0%;
    background: $accent-color;
    box-shadow: inset 0px 0px 0px $accent-color;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top:-1px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: $primary-color;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }

  &:hover{
    border-left:1px solid $accent-color;
    border-right:1px solid $primary-color;
    &::before, &::after {
      width:100%;
    }

    &::before{
      -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1)
    }
  }
}

#btn-contact{
  display: block;
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: $primary-color;
  color: $white;
}

.btn-discover{
  display: block;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  background: $accent-color;
  color: $white;
}

.rounded{
  width: 40px;
  height: 40px;
  border: 1px solid $accent-color;
  border-radius: 50%;
  background: rgba(255, 255, 255, .7);
  color: lighten($black, 40%);
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

/*
  http://codepen.io/Carlos1162/pen/eJdLXa

*/