.footer{
  padding-bottom: 40px;
  text-align: center;

  .row{

    @extend .center-sm;
    @extend .start-md;


    div:first-child{
      text-align: center;
    }
  }

  address{
    color: lighten($black, 40%);
  }
  
  img{
    max-width: 50%;
  }
  
  ul{
    padding: 0;
    li{
      list-style: none;
      margin-top: 10px;
      margin-bottom: 10px;
      a{
        text-decoration: none;
        color: lighten($black, 40%);
      }
    }
  }

  @media all and (min-width: 48em){
    text-align: initial;
  }
}