*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body, html{
  margin:0;
  padding:0;
  height: 100%;

}

a{
  color: #000;
  text-decoration: none;
}

section{
  header{
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

footer{
  position: relative;
}

@media all and (max-width: 48em){
  html,
  body {
    margin:0;
    overflow-x:hidden;
  }
}

#basketLink{
  position: relative;
}
#basketLength{
  position: absolute;
  top: -8px;
  right: 0;
  display: flex;
  justify-content: center;
  background: $accent-color;
  color: $white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}