.img-responsive{
  max-width: 100%;
}

.red{
  background-color: $accent-color;
}

.red-text{
  color: $accent-color;
  font-weight: bold;
}

.blue-text{
  color: $primary-color;
  font-weight: bold;
}

.text-center{
  text-align: center;
}