.searchform-container{

  & > * {
    outline: none;
  }

  input{
    padding: 7px 0 7px 10px;
    border-style: outset;
    border: 1px solid lighten($black, 40%);
    border-radius: 4px 0 0 4px;
    &.search{

    }

  }

  [type=submit]{
    margin-left: -5px;
    border: none;
    padding: 8px;
    color: $white;
    background: $accent-color;
    border-radius: 0 4px 4px 0;
  }

}