<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <img ng-src="{{ screenshot }}" alt="" id="preview2D" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="private">Poster ma création en public ?</label>
            <input type="radio" id="private" name="private" value="0">Oui</input>
            <input type="radio" name="private" value="1">Non</radio>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn-flat-basic">
        </div>
    </div>
</div>