<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <img ng-src="{{ screenshot }}" alt="" id="preview2D" class="img-responsive">
        </div>
    </div>
    <form ng-submit="postCreation()">
        <div class="row">
            <div class="col-xs-12">
                <label for="name">Le nom de votre création</label>
                <input type="text" id="name" ng-model="creation.name" placeholder="Ma superbe créations">
            </div>
            <div class="col-xs-12">
                <p for="private">Poster ma création en public ?</p>
            </div>
            <div class="col-xs-6">
                <input type="radio" id="private" ng-model="creation.private" ng-value="true" id="private"><label for="private">Non</label>
            </div>
            <div class="col-xs-6">
                <input type="radio" ng-model="creation.private" ng-value="false" id="public"> <label for="public">Oui</label>
            </div>
        </div>
        <div class="row end-xs">
                <input type="submit" class="btn-outline blue col-xs-6">
        </div>
    </form>
</div>