<div class="container-fluid">
    <div class="creation-env row">
        <model-list class="col-xs-6 col-sm-5"></model-list>
        <canvas id="designScene" class="col-xs-6 col-sm-4"></canvas>
        <div class="actions col-sm-3">
            <div class="row center-xs middle-xs">
                <div class="col-xs-12">
                    <div class="row center-xs">
                        <button ng-click="saveCurrentCostume()" class="btn-outline col-xs-10">
                            Enregistrer ma création
                        </button>
                        <button ng-click="saveCurrentCostume()" class="btn-outline red col-xs-10">
                            Ajouter au panier
                        </button>
                        <!--<fb-share></fb-share>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
