<section id="last-creations">
    <header class="center-xs">
        <h2>
            Dernières créations
        </h2>
    </header>

    <div id="creationsList" class="container-fluid">
        <div class="row">

            <div class="card-reveal col-md-4 col-xs-12" ng-repeat="crea in lastcrea">
                <a href="">
                    <div class="img-container">
                        <img ng-src="{{ apiRoot }}/{{ crea.previewLink }}" alt="{{ crea.name }}">
                        <div class="hidden">
                            <div class="caption">
                                <div class="card-content centered">
                                    <p class="title">
                                       {{ crea.name }}
                                        <br>
                                        créée par {{ crea.user ? crea.user.username : "Anonymous" }}
                                    </p>
                                    <a href="#!/creation/{{ crea.id }}" class="btn-discover">Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
