<header class="header slider">
    <div class="content">
        <div class="slide" id="slide-1">
            <h2>
               Créez vos envies 
            </h2>
            <img src="../images/tusken.jpg" alt="Image de pillard tusken" class="img-responsive">
        </div>
    </div>
    <button class="rounded" id="header-scroller">
        <i class="fa fa-long-arrow-down"></i>
    </button>
</header>
<section class="center-xs" id="steps">
    <header class="">
        <h2>
            Créez mon costume
        </h2>
    </header>
    <div class="container-fluid" id="step-list">
            <div class="row">

                <div class="list-item col-sm-4 cadre">
                    <div class="icon">

                    </div>
                    <h3 class="title">Personnalisez à volonté</h3>
                    <p>
                        Vos envies n'ont plus de limite : taille, matière, couleur...
                    </p>
                </div>

                <div class="list-item col-sm-4 cadre">
                    <div class="icon">

                    </div>
                    <h3 class="title">Obtenez votre patron</h3>
                    <p>
                        Une fois validé, réalisez votre vêtement quand vous le voulez
                    </p>
                </div>

                <div class="list-item col-sm-4 cadre">
                    <div class="icon">

                    </div>
                    <h3 class="title">Livraison</h3>
                    <p>
                        Recevez votre costume d'ici 4 à 6 semaines
                    </p>
                </div>

            </div>
    </div>
</section>
<section id="last-creations">
    <header class="center-xs">
        <h2>
            Dernières créations
        </h2>
    </header>

    <div id="creationsList" class="container-fluid">
        <div class="row">

            <div class="card-reveal col-md-6 col-xs-12">
                <a href="">
                    <div class="img-container">
                        <img src="../images/crea_costume_1.png" alt="Costume classique">
                        <div class="hidden">
                            <div class="caption">
                                <div class="card-content centered">
                                    <p class="title">
                                        Costume classique</br>
                                        créé par Anonymous
                                    </p>
                                    <a href="" class="btn-discover">Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card-reveal col-md-6 col-xs-12">
                <a href="">
                    <div class="img-container">
                        <img src="../images/crea_costume_2.png" alt="Pilote Rogue Squadron">
                        <div class="hidden">
                            <div class="caption">
                                <div class="card-content centered">
                                    <p class="title">
                                        Pilote Rogue Squadron</br>
                                        créé par Anonymous
                                    </p>
                                    <a href="" class="btn-discover">Découvrir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row end-xs">
            <a href="" class="btn-flat red-text">
                Toutes les créations <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<section class="center-xs" id="reasons">
    <div class="container-fluid bandeau" id="reason-list">
        <div class="row">

            <div class="list-item col-sm-4">
                <div class="icon">
                    <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="title">Pourquoi s'inscrire</h3>
                <p>
                    Une plateforme qui réunit des passionnés du travail fait main
                </p>
            </div>

            <div class="list-item col-sm-4">
                <div class="icon">
                    <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="title">Les avantages</h3>
                <p>
                    Une plateforme qui réunit des passionnés du travail fait main
                </p>
            </div>

            <div class="list-item col-sm-4">
                <div class="icon">
                    <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="title">Sécurité</h3>
                <p>
                    Une plateforme qui réunit des passionnés du travail fait main
                </p>
            </div>

        </div>
    </div>
</section>
