<header class="header slider">
    <div class="content">
        <div class="slide" id="slide-1">
            <h2>
               Créez vos envies 
            </h2>
            <img src="../images/mask-bg.jpg" alt="Image de masque" class="img-responsive">
        </div>
    </div>
    <button class="rounded" id="header-scroller">
        <i class="fa fa-long-arrow-down"></i>
    </button>
</header>
<section class="center-xs" id="steps">
    <header class="">
        <h2>
            Créez votre costume
        </h2>
    </header>
    <div class="container-fluid bandeau" id="step-list">
            <div class="row">

                <div class="list-item col-sm-4">
                    <div class="icon">

                    </div>
                    <h3 class="title">Choisir son univers</h3>
                    <p>
                        Une plateforme qui réunit des passionés du travail fait main
                    </p>
                </div>

                <div class="list-item col-sm-4">
                    <div class="icon">

                    </div>
                    <h3 class="title">Choisir son univers</h3>
                    <p>
                        Une plateforme qui réunit des passionés du travail fait main
                    </p>
                </div>

                <div class="list-item col-sm-4">
                    <div class="icon">

                    </div>
                    <h3 class="title">Choisir son univers</h3>
                    <p>
                        Une plateforme qui réunit des passionés du travail fait main
                    </p>
                </div>

            </div>
    </div>
</section>
<section id="categories">
    <header class="center-xs">
        <h2>
            Catégories
        </h2>
    </header>
    <div id="categoriesList" class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card-vertical">
                    <div class="img-container">
                        <img src="../images/clothing.jpg" alt="">
                    </div>
                   <div class="card-content">
                       <h3 class="title">
                           Décorations
                       </h3>
                   </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row end-xs">
            <a href="" class="btn-flat red-text">
                Toutes nos catégories <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<section class="center-xs" id="reasons">
    <div class="container-fluid bandeau" id="reason-list">
        <div class="row">

            <div class="list-item col-sm-4">
                <div class="icon">
                    <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="title">Pourquoi s'inscrire</h3>
                <p>
                    Une plateforme qui réunit des passionés du travail fait main
                </p>
            </div>

            <div class="list-item col-sm-4">
                <div class="icon">
                    <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="title">Les avantages</h3>
                <p>
                    Une plateforme qui réunit des passionés du travail fait main
                </p>
            </div>

            <div class="list-item col-sm-4">
                <div class="icon">
                    <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="title">Sécurité</h3>
                <p>
                    Une plateforme qui réunit des passionés du travail fait main
                </p>
            </div>

        </div>
    </div>
</section>
<section id="last-creations">
    <header class="center-xs">
        <h2>
            Dernières créations
        </h2>
    </header>

    <div id="creationsList" class="container-fluid">
        <div class="row">

            <div class="card-horizontal col-md-6 col-xs-12">
                <div class="img-container">
                    <img src="../images/clothing.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="category">
                        Coup de coeur
                    </div>
                    <div class="title">
                        Bienvenue à Xavier notre nouveau forgeron
                    </div>
                </div>
            </div>

            <div class="card-horizontal col-md-6 col-xs-12">
                <div class="img-container">
                    <img src="../images/clothing.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="category">
                        Coup de coeur
                    </div>
                    <div class="title">
                        Bienvenue à Xavier notre nouveau forgeron
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row end-xs">
            <a href="" class="btn-flat red-text">
                Toutes les créations <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>