<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Notre équipe</h1>
            <p>
                Découvrez l'équipe derrière le projet DesignMyHero
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                <a href="http://www.anaisdrault.fr" target="_blank">Anaïs Drault</a>
            </h2>
            <p>
                Graphiste et Webdesigneuse
            </p>
        </div>
        <div class="col-xs-12">
            <h2>
                <a href="http://valentinfayard.fr" target="_blank">
                    Valentin Fayard
                </a>
            </h2>
            <p>
                Développeur et intégrateur web
            </p>
        </div>
        <div class="col-xs-12">
            <h2>
                <a href="https://pierre-camille-trouillet.fr" target="_blank">Pierre-Camille Trouillet</a>
            </h2>
            <p>
                Infographiste, Photographiste. Et accessoirement, PDG.
            </p>
        </div>
        <div class="col-xs-12">
            <h2>
                <a href="http://dylantemboucti.fr" target="_blank">Dylan Temboucti</a>
            </h2>
            <p>
                Développeur intégrateur web
            </p>
        </div>
    </div>
</div>